html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: CirceRounded;
    src: url("../res/CirceRounded-Regular.otf") format("opentype");
}

@font-face {
    font-family: CirceRoundedBold;
    font-weight: bold;
    src: url("../res/CirceRounded-AltBold.otf") format("opentype");
}

@font-face {
    font-family: CirceRoundedLight;
    font-weight: lighter;
    src: url("../res/CirceRounded-ExtraLight.otf") format("opentype");
}

body {
    background-color: #fafafa;
    font-family: CirceRounded ,'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a:link {
    text-decoration-style: solid;
}

.carousel a{
    align-items: center;
}

.v-container {
    width: 80%;
    margin: auto;
    padding-top: 110px;
}

.v-c-heading {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 40px;
}

.card-action i{
    color: black;
}

footer {
    margin-top: 40px;
    color: white;
}

#footer-social{
    font-size: 21px;
    margin: auto;
}

#footer-social li{
    display: inline-block;
    padding: 10px;

}

input, select, textarea{
    color: #fff;
}

textarea:focus, input:focus {
    color: #fff;
}

/* .footer {
    color: white;
    margin-bottom: 0px;
    background-color: #263238;
    padding: 0px 20px 5px 20px;
    font-weight: lighter;
    font-size: 13px;
} */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

::-webkit-scrollbar-track {
  background: #eee;
}
